<div class="jumbotron">
  <h2>Welcome to the Home Page of Antonio Pierro.</h2>
  <p>I have a PhD degree in Physics from the University of Bari in collaboration with CERN.
Title of my dissertation is
<a href="http://cvs.web.cern.ch/cvs/cgi-bin/viewcvs.cgi/UserCode/Pierro/proceeding/tesi_dottorato/PierroDottorato_en.pdf?view=co">Development of Tools for Handling and Monitoring the Condition Data for the CMS Experiment</a>.<br>
I am passionate about science, specifically physics, information technology and software.</p>
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>
