<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Antonio Pierro</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#home.html">Home</a></li>
      <li><a href="#presentations.html">Presentations</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teaching <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://unica.altervista.org/fisica-biotecnologie/">Fisica per il CdL in Biotecnologie</a></li>
          <li><a href="http://unica.altervista.org/fisica-ingegneria/">Fisica I per il CdL in Ingegneria</a></li>
          <li><a href="http://unica.altervista.org/informatica-elearning/">Informatica e E-Learning</a></li>
          <li class="divider"></li>
          <li class="dropdown-header"></li>
          <li><a href="http://unica.altervista.org/multimedia/">Backbonejs</a></li>
          <li><a href="http://unica.altervista.org/javascript-unit-testing-lecture/">JavaScript Unit Testing</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
